html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

ul,
li {
  display: block;
  padding: 0;
  margin: 0;
  list-style: none;
  padding-left: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* -------------- Variables -------------- */

:root {
  --prime-title-color: #000000;
  --secondary-title-color: #263238;
  --main-text-color: #8f95a5;
  --numbers-colors: #2a3246;
}

/*------ heder Oleksandr------*/

section {
  padding-top: 113px;
}

p {
  margin: 0;
}

ul,
li {
  display: block;
  padding: 0;
  margin: 0;
}

.container {
  width: 1338px;
  /*позиционирование по центру*/
  /*margin: 0 auto;*/
}

.header {
  background: url("../img/header-bg.jpg") no-repeat center top / cover;
  padding-top: 57px;
  color: #fff;
  padding-bottom: 322px;
}

header a {
  color: #fff;
}

.logo {
  margin-right: 69px;
}

.menu {
  display: flex;
}

.menu li a {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 0.1em;
}

.menu li a:hover {
  border-bottom: 1px solid #fff;
}

.menu li {
  margin-right: 40px;
}

.tel {
  font-size: 17px;
  margin-left: auto;
  letter-spacing: 0.1em;
}

.nav {
  display: flex;
  align-items: center;
}

.offer {
  text-transform: uppercase;
  margin-top: 216px;
}

.offer p {
  font-size: 30px;
  letter-spacing: 0.1em;
}

.offer h1 {
  font-size: 100px;
  margin-bottom: 19px;
  margin-top: -9px;
  letter-spacing: 0.02em;
}

.btn {
  display: block;
  font-size: 17px;
  text-align: center;
  letter-spacing: 0.1em;
  padding: 17px 47px;
  border: 1px solid #fff;
  width: 238px;
  transition: all 0.5s ease;
}

.btn:hover {
  background: #fff;
  color: #000;
}

.description {
  display: flex;
  justify-content: space-between;
}

.description p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  text-align: justify;
  line-height: 1.62em;
}

.desc-left,
.desc-right {
  width: 567px;
}

/* heder по варианту Active Box */

.container__1 {
  width: 100%;
  max-width: 1338px;
  margin: 0 auto;
  padding-left: 0;
  border-bottom: 1px solid #eeeeee;
  display: flex;

  /*margin-left: auto;*/
  margin-right: auto;
  padding-top: 22px;
  padding-bottom: 77px;
  align-items: center;
}

.heder-1 a {
  color: #263238;
}

.heder__inner {
  display: flex;
  justify-content: space-between;
  padding: 75px;
  align-items: center;
}
.heder_logo {
  padding: 0 75px;
}
.nav__1 {
  display: flex;
  font-size: 20px;
}
.nav__1__link {
  margin-left: 50px;
  text-decoration: none;
  transition: opasity 0.1s linear;
}

.nav__1__link:first-child {
  margin-left: 0;
}

.nav__1__link:hover {
  text-decoration: underline;
}

/* .page-header_container {
  border-bottom: 1px solid #eeeeee;
  display: flex;
  max-width: 1338px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 22px;
  padding-bottom: 77px;
  align-items: center; */

/*-----Логотип---------*/
.logo {
  font-size: 36px;
  line-height: 1.5;
  color: var(--prime-title-color);
}
.logo__accent {
  color: #939393;
}
/*----конец логотопа-----*/
.header-nav {
  display: flex;
  align-items: center;
}

/*-----end heder------ */

/* ----------Start FOOTER---------- */
.page-footer__container {
  display: flex;
  max-width: 1338px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 22px;
  padding-bottom: 77px;
  border-top: 1px solid #8f95a5;

  align-items: center;
}

.logo {
  font-size: 36px;
  line-height: 1.5;
  color: var(--prime-title-color);
}

.logo__accent {
  color: #939393;
}

.page-footer__list {
  display: flex;
  margin-left: auto;
}

.page-footer__item {
  font-size: 24px;
  line-height: 1.5;

  color: var(--main-text-color);
}

.page-footer__item:not(:last-child) {
  margin-right: 80px;
}
/* ----------End FOOTER---------- */
